<!DOCTYPE html>
<html lang="en">
{% include "ecommerce/header.html" %}

<body>
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="p-2">
                <h4>Shopping cart</h4>
            </div>

            {% if item_list %}
                {% for item in item_list %}
                    <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
                        <div class="mr-1"><img class="rounded" src="https://picsum.photos/seed/picsum/300/300"
                                               width="70"></div>
                        <div class="d-flex flex-column align-items-center product-details"><span
                                class="font-weight-bold">{{ item.product.name }}</span>
                            <div class="d-flex flex-row product-desc">
                                <div class="color"><span
                                        class="font-weight-bold">{{ item.product.description }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center qty"><i
                                class="btn decrease-item-count fa fa-minus text-danger" user-id="{{ item.user.id }}"
                                product-id="{{ item.product.id }}"></i>
                            &nbsp;<h5 class=" text-grey mt-1 mr-1 ml-1">{{ item.count }}</h5>&nbsp;
                            <i class="btn increase-item-count fa fa-plus text-success" user-id="{{ item.user.id }}"
                               product-id="{{ item.product.id }}"></i>
                        </div>
                        <div>
                            <h5 class=" text-grey">${{ item.total }}</h5>
                        </div>
                        <div class="btn delete-item d-flex align-items-center" user-id="{{ item.user.id }}"
                             product-id="{{ item.product.id }}"><i class="fa fa-trash mb-1 text-danger"></i></div>
                    </div>
                {% endfor %}
                <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded">
                    <a class="btn btn-primary" type="button" href="{% url 'checkout' user.id %}">Proceed to Pay</a>
                </div>
            {% else %}
                <p style="margin-left: 10px">No items are added.</p>
            {% endif %}
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.delete-item').click(function () {
        let csrftoken = '{{ csrf_token }}'
        var user_id = $(this).attr("user-id");
        var product_id = $(this).attr("product-id");
        $.ajax(
            {
                type: "POST",
                headers: {'X-CSRFToken': csrftoken},
                url: "/ecommerce/cart_delete_item",
                data: {
                    user_id: user_id,
                    product_id: product_id
                },
                success: function (data) {
                    location.reload();
                }
            })
    });

    $('.decrease-item-count').click(function () {
        let csrftoken = '{{ csrf_token }}'
        var user_id = $(this).attr("user-id");
        var product_id = $(this).attr("product-id");
        $.ajax(
            {
                type: "POST",
                headers: {'X-CSRFToken': csrftoken},
                url: "/ecommerce/cart_decrease_item_count",
                data: {
                    user_id: user_id,
                    product_id: product_id
                },
                success: function (data) {
                    location.reload();
                }
            })
    });

    $('.increase-item-count').click(function () {
        let csrftoken = '{{ csrf_token }}'
        var user_id = $(this).attr("user-id");
        var product_id = $(this).attr("product-id");
        $.ajax(
            {
                type: "POST",
                headers: {'X-CSRFToken': csrftoken},
                url: "/ecommerce/cart_increase_item_count",
                data: {
                    user_id: user_id,
                    product_id: product_id
                },
                success: function (data) {
                    location.reload();
                }
            })
    });
</script>

</body>
</html>