<!DOCTYPE html>
<html lang="en">
{% include "ecommerce/header.html" %}
<body>
<div class="d-flex justify-content-center container mt-5">
    <div class="card p-3 bg-white"><i class="fa"></i>
        <div class="about-product text-center mt-2"><img src="https://picsum.photos/seed/picsum/600/400" width="300">
            <div>
                <h4>{{ product.name }}</h4>
                <h6 class="mt-0 text-black-50">{{ product.description }}</h6>
            </div>
        </div>
        <div class="stats mt-2">
            <div class="d-flex justify-content-between p-price"><span>Price</span><span>${{ product.price }}</span></div>
        </div>
        <div class="d-flex justify-content-between total font-weight-bold mt-4"><span>Total</span><span>${{ product.price }}</span></div>
    </div>
</div>
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Reivews</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <h2>"Best stuff"</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      </div>
      <div class="feature col">
        <h2>"Makes my life easier"</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>

      </div>
      <div class="feature col">
        <h2>"Love it!!!"</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      </div>
    </div>
  </div>
</body>
</html>